@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Yeseva+One&display=swap');
:root {
    --caption-font-color: #E3B873;
    --button-font-color: #FFFFFF;
    --main-light-font-color: #FFFFFF;
    --main-dark-font-color:#000000;
}