$mobile-drop-point: 1300px;
$mobile-width: 375px;
$desktop-width: 1440px;
$caption-font-color: #E3B873;
$button-font-color: #FFFFFF;
$main-light-font-color: #FFFFFF;
$main-dark-font-color:#000000;
$background-dark-color: #131313;
$gray-font-color:#363636;
$label-mobile-color: rgba(255,255,255,0.5);