@import "../fonts";

.tittle {
    font-family: 'Yeseva One', cursive;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: -0.07em;
    line-height: 1.3em;
    color: $main-dark-font-color;
    display: inline-block;
    max-width: 10em;
}