@import "../style.scss";

.menu {
    display: flex;
    justify-content: space-between;
    min-width: 53em;
    margin-left: 10.5em;
}

@media screen and (max-width: $mobile-drop-point) {
    .menu {
        visibility: hidden;
    }

}