@import "../common-values.scss";

.menu {
    display: flex;
    justify-content: space-around;
    min-width: 43rem;
    // margin-left: 10.5rem;
}

@media screen and (max-width: $mobile-drop-point) {
    .menu {
        display:none;
    }

}