@import "../common-values";

.navigation-panel__phone {
    width: 9rem;
}

.navigation-panel__phone > a {
    display: block;
    color: $caption-font-color;
    padding-left: 2rem;
    text-decoration: underline;
}

@media screen and (max-width: $mobile-drop-point) {
    .navigation-panel__phone {
        width: 40%;      
    }

    .navigation-panel__phone > a {
        color: $main-light-font-color;
        text-decoration: none;
        padding-left: 10%;
    }
}

@media screen and (min-width:$wide-screen-drop-point) {
    .navigation-panel__phone {
        padding-left: 4rem;
        padding-right: 3rem;
    }  

}