@import "../common-values";

.navigation-panel__item {
    display: block;
    color: $caption-font-color;
    width: auto;
    margin-left: 6rem;
}

@media screen and (max-width: $mobile-drop-point) {
    .navigation-panel__item {
        color: $caption-font-color;
        margin-left: 1.1rem;
        width: 60%;
    }

}

@media screen and (min-width:$wide-screen-drop-point) {
    .navigation-panel__item  {
        padding-right: 5rem;
    }  
}