.repair-types {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1.88rem;
    justify-content: center;
}

.repair-type {
    position: relative;
    display:flex;
    flex-flow: column;
    width: 24rem;
    box-sizing: border-box;
}

.repair-type__image {
    width: 24rem;
}

.repair-type-description {
    position: relative;
    top: -7.94rem;
    left: 1.94rem;
    width: 20.625rem;
    height: 17.875rem;
    background-color:#FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair-type-description__caption {
    font-family: 'Yeseva One', 'serif';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    display: block;
    padding: 1.56rem 0 13px 1.94rem;
}

ul {
    margin: 0;
    padding: 0;
}

.repair-type-description__list {
    font-family: 'Nunito Sans', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.69rem;
    list-style-position:inside;
    margin: 0 0 0 1.94rem;
    padding: 0;
}


