
.header {
    box-sizing: border-box;
    display: flex;
    background-color: #131313;
    width: 1438px;
    min-height: 7.6em;
    align-items: center;
    /*Whole header elements have the same font family*/
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em
}

