@import "../common-values";

.flex-wrapper {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: $desktop-width;
}

@media screen and (max-width: $mobile-drop-point) {
    .flex-wrapper {
        display: flex;
        flex-flow: column;
        align-self: center;
        width: $mobile-width;
    }
    body {
        display: flex;
        flex-flow: column;
    }
}

@media screen and (min-width:$wide-screen-drop-point) {
    .flex-wrapper {
        display: flex;
        flex-flow: column;
        align-self: center;
        width: $width-4k;  
    }    
}