@import "../fonts";

.contacts {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 100%;
}

.contacts__address {
    display: block;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    color: $caption-font-color;
    padding: 52px 30% 2rem;
}

.contacts-social-networks {
    align-self: center;
}

.contacts-social-networks img {
    padding: 0 0.375rem 2.2rem;
}

.contacts__map {
    padding-bottom: 4.12rem;
    width: min-content;
    align-self: center;
}