@import "../common-values";

.contacts {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 100%;
}

.contacts__address {
    display: block;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    color: $caption-font-color;
    padding: 52px 30% 2rem;
}

.contacts-social-networks {
    align-self: center;
}

.contacts-social-networks img {
    padding: 0 0.375rem 2.2rem;
}

.contacts__map {
    width: 925px;
    height: 465px;
    margin-bottom: 4rem;
    align-self: center;
    background-image: url("./../img/s3-contacts-map.png");
}


@media screen and (max-width: $mobile-drop-point) {

    .contacts {
        background-color: $background-dark-color;
    }

    .contacts__map {
        width: 340px;
        height: 255px;
        order: 1;
        background-image: url("./../img/s3-contacts-map-mobile.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 0;
    }
    .contacts__address {
        order: 2;
        padding: 1rem;
    }

    .contacts-social-networks {
        order: 3;
    }
}