@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Yeseva+One&display=swap");
.calc-req-wrapper {
  min-height: 44em;
  width: 90rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./../img/image-4.3.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-wrapper {
  background-image: linear-gradient(rgb(19, 19, 19) 0 1074px, rgb(255, 255, 255) 1074px 100%);
}

.flex-wrapper__background--s3 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(./../img/skyscrappers-left.png), url(./../img/skyscrappers-right.png), linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.72)), url(./../img/skyscrappers-big.png);
  background-position: left calc(100% - 954px), left calc(100% - 954px), right calc(100% - 954px), left bottom, left bottom;
  background-size: 100% 450px, auto, auto, 100% 955px, 100% 955px;
  background-repeat: no-repeat;
}

.flex-wrapper__background--s4 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(./../img/skyscrappers-left.png), url(./../img/skyscrappers-right.png), linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.72)), url(./../img/skyscrappers-big.png);
  background-position: left calc(100% - 954px), left calc(100% - 954px), right calc(100% - 954px), left bottom, left bottom;
  background-size: 100% 450px, auto, auto, 100% 955px, 100% 955px;
  background-repeat: no-repeat;
}

.estimate-sequence {
  background-image: url("./../img/image-6.1.png");
  background-repeat: no-repeat;
}

.repair-types {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1.88rem;
  justify-content: center;
}

.repair-type {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 24rem;
  box-sizing: border-box;
}

.repair-type__image {
  width: 24rem;
}

.repair-type-description {
  position: relative;
  top: -7.94rem;
  left: 1.94rem;
  width: 20.625rem;
  height: 17.875rem;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair-type-description__caption {
  font-family: "Yeseva One", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  display: block;
  padding: 1.56rem 0 13px 1.94rem;
}

ul {
  margin: 0;
  padding: 0;
}

.repair-type-description__list {
  font-family: "Nunito Sans", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.69rem;
  list-style-position: inside;
  margin: 0 0 0 1.94rem;
  padding: 0;
}

.button {
  box-sizing: border-box;
  position: relative;
  border: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8rem;
  color: white;
  text-transform: uppercase;
  padding: 1em;
  height: 3.2em;
  background-color: #E3B873;
  box-shadow: 0 0.3em 1.25em rgba(227, 184, 115, 0.1);
}

.button:hover {
  cursor: pointer;
  background-color: rgb(236, 155, 24);
}

.repair-type_price-button {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
  line-height: 1.56rem;
  text-transform: uppercase;
  border: none;
  background: #E3B873;
  box-shadow: 0.31rem 0.31rem 0.625rem rgba(227, 184, 115, 0.3);
  padding: 1.06rem;
}

.topics-separator {
  display: flex;
  flex-flow: column;
  align-self: center;
}

.topic-separator__caption {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  width: 25rem;
  align-self: center;
}

.topic-separator__image {
  width: min-content;
  align-self: center;
  padding: 0.81rem 0 1.94rem 0;
}

.topic-separator__image--simple-line {
  padding: 3.9rem 0 2.15rem 0;
}

.topics-separator__caption--white {
  color: white;
}

.topic-separator__caption--black {
  color: black;
}

.online-control-player__play-button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  background: rgba(0, 0, 0, 0.8);
}

.online-control {
  display: flex;
  flex-flow: column;
  align-self: center;
}

.online-control-media {
  display: flex;
  flex-flow: column;
  align-self: center;
  position: relative;
}

.online-control-media__player {
  display: block;
  object-fit: contain;
  width: 817px;
  height: 434px;
  align-self: center;
  background-color: aquamarine;
}

.online-control-request-form {
  display: flex;
  flex-flow: column;
}

.online-control-request-form-description {
  align-self: center;
  width: 42.56rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.32rem;
  text-align: center;
  color: #363636;
}

.online-control-request-form-submit-controls {
  display: flex;
  column-gap: 3.4rem;
  justify-content: center;
  margin-top: 5.72rem;
}

.online-control-request-form-submit-controls__input {
  min-width: 14.44rem;
}

.online-control-request-form-submit-controls .input-label {
  color: rgba(54, 54, 54, 0.5);
}

.online-control-request-form-agreement--position {
  margin-bottom: 4.75rem;
  margin-top: 2.19rem;
  align-self: center;
}

.online-control-request-form-submit-controls__submit-button {
  box-shadow: 0px 0.94rem 0.94rem rgba(227, 184, 115, 0.15);
  border-radius: 0.125rem;
  width: 12.5rem;
  height: 3.19rem;
}

/*стилизация чекбокса взята отсюда https://www.w3docs.com/snippets/scss/how-to-style-a-checkbox-with-css.html*/
.request-form-agreement {
  display: block;
  position: relative;
  padding-left: 1.69rem;
  cursor: pointer;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
}

.request-form-agreement input {
  visibility: hidden;
}

.request-form-agreement__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: solid 1px black;
  border-radius: 1px;
}

/* Specify the background color to be shown when hovering over checkbox */
.request-form-agreement:hover input ~ .request-form-agreement__checkbox {
  background-color: rgb(227, 184, 115);
  border: solid 1px rgb(227, 184, 115);
  border-radius: 1px;
}

/* Specify the background color to be shown when checkbox is active */
.request-form-agreement input:active ~ .request-form-agreement__checkbox {
  background-color: white;
}

/* Specify the background color to be shown when checkbox is checked */
.request-form-agreement input:checked ~ .request-form-agreement__checkbox {
  background-color: rgb(227, 184, 115);
  border: solid 1px rgb(227, 184, 115);
  border-radius: 1px;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.request-form-agreement__checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.request-form-agreement input:checked ~ .request-form-agreement__checkbox:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.request-form-agreement .request-form-agreement__checkbox:after {
  left: 5px;
  bottom: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.input-label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8rem;
}

.input-field {
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8rem;
  text-decoration-color: #363636;
  border-style: none none solid none;
  border-color: rgba(54, 54, 54, 0.3);
  border-width: 1px;
}

.input-field:focus {
  outline: none;
}

.completed-projects {
  display: flex;
  column-gap: 50px;
  justify-content: center;
  /* max-width: fit-content; */
  padding: 6.69rem 8.375rem;
}

.completed-projects-description {
  display: flex;
  flex-flow: column;
  color: #FFFFFF;
  min-width: 23rem;
  max-width: 28rem;
}

.completed-projects__title {
  display: block;
  font-family: "Yeseva One", serif;
  font-size: 1.67rem;
  letter-spacing: -0.07em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #E3B873;
  max-width: 10em;
  padding-top: 3.3125rem;
}

.completed-projects__text {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.68rem;
  text-align: left;
  color: #FFFFFF;
  padding: 1.5rem 0px 2.63rem 0px;
}

.completed-projects-details {
  display: grid;
  grid-template-columns: 40% 50%;
  row-gap: 2rem;
  column-gap: 2rem;
}

.completed-projects-details-item__caption {
  font-family: "Yeseva One", serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #E3B873;
}

.completed-projects-details-item__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
}

.completed-projects-navigator-image {
  width: 42.44rem;
}

.completed-projects-navigator-menu {
  display: flex;
  flex-flow: row;
  column-gap: 3.75rem;
  color: #E3B873;
  text-transform: uppercase;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 19px;
  margin-bottom: 2.7rem;
}

.completed-projects-navigator-menu li {
  display: block;
  padding-bottom: 0.42rem;
}

.completed-projects-navigator-menu li:hover {
  cursor: pointer;
}

.completed-projects-navigator-menu--active {
  border-bottom: 0.1rem solid #E3B873;
}

.completed-projects-paginator {
  display: flex;
  flex-flow: row;
  margin-top: 5.3rem;
  column-gap: 1.41rem;
}

.completed-projects-paginator__page {
  display: block;
  width: 1px;
  height: 1px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.completed-projects-paginator__page--active {
  border-color: rgb(255, 255, 255);
}

.completed-projects-paginator__page--image {
  object-fit: none;
}

.tittle {
  font-family: "Yeseva One", cursive;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: -0.07em;
  line-height: 1.3em;
  color: #000000;
  display: inline-block;
  max-width: 10em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*# sourceMappingURL=step-2.css.map */
