.base-block {
    min-height: 44em;
    width: 90rem;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7))
                        , url("../../img/image 4.3.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}