@import "../fonts.css";

.button {
    box-sizing: border-box;
    position: relative;
    border: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
    padding: 1em;
    height: 3.2em;
    background-color: var(--caption-font-color);
    box-shadow: 0 0.3em  1.25em rgba(227,184,115,0.1);
}

.button:hover{
    cursor: pointer;
    background-color: rgb(236, 155, 24);

}


.repair-type_price-button {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: white; 
    line-height: 1.56rem;
    text-transform: uppercase;
    border: none;
    background: var(--caption-font-color);
    box-shadow: 0.31rem 0.31rem 0.625rem rgba(227, 184, 115, 0.3);
    padding: 1.06rem;
}