.flex-wrapper {
    max-width: 1440px;
    background-image: linear-gradient(rgba(19, 19, 19, 1) 0 1074px, rgba(255, 255, 255, 1) 1074px 100%)
        /* ;background-position: center top
   
    ;background-size: 100% 1074px */

}


.flex-wrapper-s3 {
    max-width: 1440px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.95)), url(../../img/skyscrappers-left.png), url(../../img/skyscrappers-right.png), linear-gradient(rgba(24, 24, 24, 0.9),
            rgba(24, 24, 24, 0.72)), url(../../img/skyscrappers-big.png);
    background-position: center 1315px,
        left 1315px,
        right 1315px,
        center 1746px,
        center 1746px;
    background-size: 100% 450px,
        auto,
        auto,
        auto,
        auto;
    background-repeat: no-repeat;
}

.estimate-sequnce {
    background-image: url("../../img/image\ 6.1.png");
    background-repeat: no-repeat;
}